a, input, textarea {
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out
}

table, table td, table th {
    border: 1px solid #f0f0f0
}

.burger, body, footer {
    position: relative
}

.mobile-menu-list__sub a:after, .row:after {
    content: ''
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Fl4y0QdOxyyTHEGMXX8kcaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/B85vmdvDILX92ray16e-1g.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/isZ-wbCXNKAbnjo6_TwHTqCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v16/7m8l7TlFO-S3VkhHuR0at5p-63r6doWhTEbsfBIRJ7A.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v16/sWTqoqnV-OOzHbi5P-jvYPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype')
}

@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/Montserrat-Regular.eot);
    src: url(../fonts/Montserrat-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat-Regular.ttf) format("truetype"), url(../fonts/Montserrat-Regular.svg#Montserrat-Regular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: roboto-thin;
    src: url(../fonts/roboto-thin/Roboto-Thin.eot);
    src: url(../fonts/roboto-thin/Roboto-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto-thin/Roboto-Thin.woff) format("woff"), url(../fonts/roboto-thin/Roboto-Thin.ttf) format("truetype"), url(../fonts/roboto-thin/Roboto-Thin.svg#Roboto-Thin) format("svg");
    font-weight: 400;
    font-style: normal
}

body {
    background: #fff !important;
    font-size: 14px;
    width: 100%
}

body, html {
    height: 100%
}

main {
    display: block;
    min-height: 100%;
    padding-bottom: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.container, footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

footer {
    box-sizing: border-box;
    margin-top: -40px;
    z-index: 10
}

footer .row {
    margin-right: 0;
    margin-left: 0
}

@media screen and (max-width: 1024px) {
    main {
        padding-bottom: 80px
    }

    footer {
        margin-top: -80px
    }
}

@media screen and (max-width: 500px) {
    main {
        padding-bottom: 300px
    }

    footer {
        margin-top: -300px
    }
}

a {
    text-decoration: none;
    transition: .3s ease-in-out
}

img {
    max-width: 100%
}

input[type=submit] {
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

input, textarea {
    font-family: Roboto, arial, verdana;
    transition: .3s ease-in-out;
    outline: 0
}

.footer__menu ul li, .inline-block {
    display: inline-block;
    vertical-align: top
}

.element-trans, .mega-menu__cat-title {
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

table {
    border-spacing: 0;
    border-collapse: separate
}

table td, table th {
    padding: 15px
}

table.bordered {
    border-collapse: separate !important;
    border-spacing: 0;
    font-size: 18px;
    color: #3a3a3a;
    font-weight: 400;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

table.bordered td {
    padding: 30px
}

table.bordered td, table.bordered th {
    border-left: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0
}

table.bordered th {
    border-top: none
}

table.bordered th:only-child {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0
}

table.bordered tr:last-child {
    -webkit-border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px
}

::-webkit-scrollbar-button {
    background-image: url();
    background-repeat: no-repeat;
    width: 8px;
    height: 0
}

::-webkit-scrollbar-track {
    background-color: #fff
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #8e44ac
}

::-webkit-resizer {
    background-image: url();
    background-repeat: no-repeat;
    width: 7px;
    height: 0
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px
}

.document {
    overflow: hidden
}

#right-column, .footer {
    margin-left: 0 !important
}

#right-column {
    padding: 0 !important
}

.body {
    padding: 0 20px !important
}

.block-hidden {
    display: none
}

.docs-navigation a {
    color: #3a3a3a !important;
    border-bottom-color: transparent !important
}

.docs-navigation a:hover {
    border-bottom-color: #3a3a3a !important
}

.container {
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box
}

.container-fluid, .container-full-width {
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%
}

.container-fluid {
    min-width: 280px;
    max-width: 1600px;
    box-sizing: border-box
}

.mobile-menu, .mobile-menu-bg {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden
}

.container-full-width {
    box-sizing: border-box;
    float: none;
    clear: both
}

.row:after {
    display: block;
    clear: both
}

[class^=col-] {
    float: left;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.col-1 {
    width: 8.33333%
}

.col-2 {
    width: 16.66667%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33333%
}

.col-5 {
    width: 41.66667%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33333%
}

.col-8 {
    width: 66.66667%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33333%
}

.col-11 {
    width: 91.66667%
}

.col-12 {
    width: 100%
}

.l-offset-1 {
    margin-left: 8.33333%
}

.l-offset-2 {
    margin-left: 16.66667%
}

.l-offset-3 {
    margin-left: 25%
}

.r-offset-1 {
    margin-right: 8.33333%
}

.r-offset-2 {
    margin-right: 16.66667%
}

.r-offset-3 {
    margin-right: 25%
}

@media screen and (max-width: 1200px) {
    .hidden-l {
        display: none
    }

    .col-l-1 {
        width: 8.33333%
    }

    .col-l-2 {
        width: 16.66667%
    }

    .col-l-3 {
        width: 25%
    }

    .col-l-4 {
        width: 33.33333%
    }

    .col-l-5 {
        width: 41.66667%
    }

    .col-l-6 {
        width: 50%
    }

    .col-l-7 {
        width: 58.33333%
    }

    .col-l-8 {
        width: 66.66667%
    }

    .col-l-9 {
        width: 75%
    }

    .col-l-10 {
        width: 83.33333%
    }

    .col-l-11 {
        width: 91.66667%
    }

    .col-l-12 {
        width: 100%
    }
}

@media screen and (max-width: 991px) {
    .hidden-t {
        display: none
    }

    .col-t-1 {
        width: 8.33333%
    }

    .col-t-2 {
        width: 16.66667%
    }

    .col-t-3 {
        width: 25%
    }

    .col-t-4 {
        width: 33.33333%
    }

    .col-t-5 {
        width: 41.66667%
    }

    .col-t-6 {
        width: 50%
    }

    .col-t-7 {
        width: 58.33333%
    }

    .col-t-8 {
        width: 66.66667%
    }

    .col-t-9 {
        width: 75%
    }

    .col-t-10 {
        width: 83.33333%
    }

    .col-t-11 {
        width: 91.66667%
    }

    .col-t-12 {
        width: 100%
    }
}

@media screen and (max-width: 767px) {
    .hidden-m {
        display: none
    }

    .col-m-1 {
        width: 8.33333%
    }

    .col-m-2 {
        width: 16.66667%
    }

    .col-m-3 {
        width: 25%
    }

    .col-m-4 {
        width: 33.33333%
    }

    .col-m-5 {
        width: 41.66667%
    }

    .col-m-6 {
        width: 50%
    }

    .col-m-7 {
        width: 58.33333%
    }

    .col-m-8 {
        width: 66.66667%
    }

    .col-m-9 {
        width: 75%
    }

    .col-m-10 {
        width: 83.33333%
    }

    .col-m-11 {
        width: 91.66667%
    }

    .col-m-12 {
        width: 100%
    }
}

@media screen and (max-width: 479px) {
    .hidden-d {
        display: none !important
    }

    .col-d-1 {
        width: 8.33333%
    }

    .col-d-2 {
        width: 16.66667%
    }

    .col-d-3 {
        width: 25%
    }

    .col-d-4 {
        width: 33.33333%
    }

    .col-d-5 {
        width: 41.66667%
    }

    .col-d-6 {
        width: 50%
    }

    .col-d-7 {
        width: 58.33333%
    }

    .col-d-8 {
        width: 66.66667%
    }

    .col-d-9 {
        width: 75%
    }

    .col-d-10 {
        width: 83.33333%
    }

    .col-d-11 {
        width: 91.66667%
    }

    .col-d-12 {
        width: 100%
    }
}

@media screen and (max-width: 600px) {
    .col-sm-6 {
        width: 50%
    }

    .col-sm-12 {
        width: 100%
    }
}

@media screen and (min-width: 991px) {
    .col-t-offset-3 {
        margin-left: 25%
    }

    .col-t-offset-2 {
        margin-left: 16.66667%
    }

    .col-t-offset-1 {
        margin-left: 8.33333%
    }

    .float-right {
        float: right
    }

    .float-left {
        float: left
    }

    .col-t-right-text {
        text-align: right
    }
}

.padding-left-0 {
    padding-left: 0
}

.padding-right-0 {
    padding-right: 0
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.hidden {
    display: none
}

.w-100 {
    width: 100% !important;
    max-width: initial !important
}

.container-wrapper {
    min-height: -webkit-calc(100% - 74px);
    min-height: -moz-calc(100% - 74px);
    min-height: calc(100% - 74px)
}

.document {
    padding: 0 20px !important;
    font-family: Roboto, arial, verdana !important
}

.document .toctree-l1 a {
    color: #449f73;
    border-bottom: 1px solid #449f73
}

.document .toctree-l1 a:hover {
    border-bottom: 1px solid transparent
}

.document ul {
    list-style-type: none;
    padding-left: 30px
}

.document ul li {
    margin-bottom: 12px;
    position: relative
}

.document ul li:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #8e44ac;
    top: 9px;
    left: -28px
}

.document ul li ul {
    margin-top: 12px
}

.container {
    padding-left: 0;
    padding-right: 0
}

.doc-content2 h1 {
    color: #449f73 !important
}

.doc-content2 .caption-text, .doc-content2 a, .doc-content2 a:hover, .doc-content2 h2 {
    color: #449f73
}

.doc-content2 ul li:before {
    background: #449f73
}

#left-column {
    z-index: 10 !important;
    position: absolute !important;
    top: 121px !important;
    height: -webkit-calc(100% - 121px) !important;
    height: -moz-calc(100% - 121px) !important;
    height: calc(100% - 121px) !important
}

#left-column::-webkit-scrollbar {
    width: 4px
}

.doc-content-sidebar .caption-text {
    color: #ee8400 !important
}

.doc-content-sidebar .form-control:focus {
    border-color: #ee8400 !important
}

.doc-content-sidebar .sidebar-toc ul li a:hover {
    background: #ee8400 !important
}

.doc-content-sidebar2 .caption-text {
    color: #449f73 !important
}

.doc-content-sidebar2 .form-control:focus {
    border-color: #449f73 !important
}

.doc-content-sidebar2 .sidebar-toc ul li a:hover {
    background: #449f73 !important
}

@media screen and (max-width: 1820px) {
    .doc-content, .doc-content2 {
        padding-left: 5% !important
    }
}

@media screen and (max-width: 1720px) {
    .doc-content, .doc-content2 {
        padding-left: 10% !important
    }
}

@media screen and (max-width: 1570px) {
    .doc-content, .doc-content2 {
        padding-left: 15% !important
    }
}

@media screen and (max-width: 1440px) {
    .doc-content, .doc-content2 {
        padding-left: 18% !important
    }
}

@media screen and (max-width: 1360px) {
    .doc-content, .doc-content2 {
        padding-left: 320px !important
    }
}

@media screen and (max-width: 800px) {
    #left-column {
        display: none !important;
        z-index: 0 !important
    }

    .doc-content, .doc-content2 {
        padding-left: 20px !important
    }
}

.toctree-wrapper {
    margin-bottom: 55px
}

.toctree-wrapper:last-child {
    margin-bottom: 0
}

p.caption {
    margin-bottom: 30px
}

p.caption span {
    font-size: 24px;
    color: #8e44ac;
    font-weight: 200
}

.document #search-documentation, .document .section > h1 {
    color: #8e44ac;
    font-family: Roboto, arial, verdana;
    font-weight: 300;
    margin-bottom: 50px;
    margin-top: 50px
}

p a {
    color: #8e44ac;
    border-bottom: 1px solid
}

p a:hover {
    color: #8e44ac;
    border-bottom-color: transparent !important
}

.row {
    margin-right: 0
}

[class^=col-] {
    padding-left: 20px;
    padding-right: 20px
}